{% extends 'app/layout.html.twig' %}

{% block page_contents %}
    {# ---Main Content--- #}
    <div class="row" data-controller='estatisticas'>
        {% for label, messages in app.flashes(['success', 'danger', 'info']) %}
            {# read and display several types of flash messages #}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show ml-3 mr-3 mw-100" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        
        <div class="col-12">
            <h4>Estatísticas</h4>
        </div>

        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Top 5 Ações Compradas no Mês</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph1" data-controller="estatisticas" data-estatisticas-graph1-value='{"data": [123,12]}'></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Top 5 Ações Vendidades no Mês</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph2"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Total Compras Ações no Mês</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Total Vendas Ações no Mês</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph4"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-text">
                    <h4 class="card-title d-inline">Top 5 Ações Mais Rejeitadas</h4>
                </div>
                <div class="card-content">
                    <div style="width: 100%;">
                        <canvas id="graph5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript">
        $().ready(() => {
            $("#sidebar-collapse").on('click', () => {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

            $(".more-button, .body-overlay").on('click', () => {
                $('#sidebar, .body-overlay').toggleClass('show-nav');
            });
        });
    </script>
    {# <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> #}
    <script type="text/javascript">
        {# graphCard1();

        function graphCard1() {
            const date = new Date();
            const month = date
                .toLocaleString("default", { month: "long" })
                .replace(/^\w/, c => c.toUpperCase());

            const data = [
                { year: 2010, count: 10 },
                { year: 2011, count: 20 },
                { year: 2012, count: 15 },
                { year: 2013, count: 25 },
                { year: 2014, count: 22 },
                { year: 2015, count: 30 },
                { year: 2016, count: 28 },
            ];

            new Chart(document.getElementById('graph1'), {
                type: 'bar',
                data: {
                    labels: data.map(row => row.year),
                    datasets: [
                    {
                        label: `Aquisições em ${month}`,
                        data: data.map(row => row.count)
                    }
                    ]
                }
            });
        } #}
    </script>
{% endblock javascripts %}
